.home{
  background-image: url('https://media.istockphoto.com/id/1171577070/vector/abstract-medical-background-with-hexagons-pattern-concepts-and-ideas-for-healthcare.jpg?s=612x612&w=0&k=20&c=5-1DdbIYt51RoPEzBV37sxnfkhS1RqlPbq5E4-D7O0M=');
  background-repeat: no-repeat;
  background-size: cover;
}